#rewind-intro {
    font-family: "roboto-slab-extrabold";
    color: white;
    margin: 10vh 0;
    text-align: center;
}

#rewind-intro > h1 {
    font-size: 4rem;
}

#rewind-intro > h3 {
    font-family: "roboto-slab";
    font-size: 2rem;
}

#alumnis-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-aspect-ratio: 1/1) {
    #alumnis-container {
        grid-template-columns: 1fr;
        row-gap: 5vh;
    }
}