#first-mission {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15vh 0 0;
}

#first-mission a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10vh;
}

#first-mission img {
    width: 50%;
}

#first-mission p {
    color: white;
    width: min(60rem, 90%);
    text-align: center;
    font-family: 'roboto-slab';
    font-size: 1.75rem;
    margin: 0;
}

#first-vision {
    margin: 20vh 0 0;
    text-align: center;
    font-family: 'roboto-slab-extrabold';
    font-size: 4rem;
    color: var(--respawn-orange);
}

#quote-container {
    display: flex;
    height: 25rem;
    margin: 10vh 0;
    padding: 0;
    background-color: var(--respawn-blue);
}

#dean-kamen-pic {
    flex-basis: 40%;
}

#dean-kamen-pic img {
    object-fit: cover;
    object-position: 60% 35%;
    height: 100%;
    width: 100%;
}

#kamen-quote {
    flex-basis: 60%;
    text-align: center;
    font-family: "roboto-slab-bold";
    padding: 5%;
    font-size: 1.75rem;
    color: white;
}

#kamen-quote > p {
    margin-top: 1rem;
    font-size: inherit;
}

@media (max-aspect-ratio: 1/1) {
    #quote-container {
        flex-direction: column;
    }

    #dean-kamen-pic {
        height: 50%;
    }

    #kamen-quote {
        font-size: 1rem;
    }
}