#forms-container {
    margin-top: 15vh;
    align-items: center;
}

#create-team-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
}

#invite-container {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    align-items: center;
}
