#recon-intro {
    margin: 10vh 0 20vh;
    color: white;
    text-align: center;
    font-family: "roboto-slab-bold";
    font-size: 2.5rem;
}

#recon-intro a {
    color: var(--respawn-blue-lighter);
    font-size: inherit;
    text-decoration: none;
}

.recon-feature-container {
    display: flex;
    height: 65vh;
    width: 100%;
}

.feature-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    height: 100%;
    width: 50%;
}

.feature-image > img.vertical-image {
    border: 10px solid var(--respawn-blue);
    border-radius: 20px;
    padding: 15px;
    object-fit: contain;
    width: 50%;
}

.feature-image > img.horizontal-image {
    border: 10px solid var(--respawn-blue);
    border-radius: 20px;
    padding: 15px;
    object-fit: contain;
    max-width: 100%;
}

.feature-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    color: white;
    font-family: "roboto-slab";
}

.feature-text * {
    font-size: 1.5rem;
}