#modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal-button {
    position: absolute;
    height: 100%;
}

#close-modal {
    position: absolute;
    top: 15;
    right: 35;
    color: #f1f1f1;
    cursor: pointer
}

#modal-content {
    display: flex;
    align-items: center;
    width: 85%;
    height: 100%;
    margin: auto
}