.navbar {
  height: 10vh;
  display: flex;
  position: fixed;
  z-index: 2;
  font-family: "roboto-slab";
  justify-content: flex-end;
  align-items: stretch;
  background-image: linear-gradient(var(--respawn-dark-blue), transparent);
  width: 100%;
  animation: rebuild 0.5s ease;
  animation-fill-mode: forwards;
}

.navbar.scrolled {
  animation: collapse 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes collapse {
  from {
    top: 0;
  }

  to {
    top: -10vh;
  }
}

@keyframes rebuild {
  from {
    top: -10vh;
  }

  to {
    top: 0;
  }
}

.nav-link {
  color: white;
  margin: 0;
  text-decoration: none;
  overflow: visible;
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 10vh;
  left: 0px;
  width: 100%;
  background-color: #f9f9f9;
  z-index: 1;
}

.dropdown-link {
  background-color: var(--respawn-blue);
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-link:hover {
  background-color: powderblue;
  color: var(--respawn-blue);
}

.navbar-section {
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.navbar-section:hover {
  background-color: var(--respawn-orange);
}

.hamburger-icon-bar {
  width: 2.5rem;
  height: 0.25rem;
  background-color: white;
  margin: 0.5rem 0;
  transition: 0.5s;
}

.change #icon-bar-1 {
  transform: translate(0, 0.72rem) rotate(-45deg);
}

.change #icon-bar-2 {
  opacity: 0;
}

.change #icon-bar-3 {
  transform: translate(0, -0.72rem) rotate(45deg);
}

.hamburger-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vh;
  padding: 1rem;
  width: 100%;
  background-color: var(--respawn-dark-blue);
}

.hamburger-link {
  font-family: "roboto-slab";
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin: 0;
  width: 100%;
  border-bottom: 2px solid white;
}

.menu-content {
  display: flex;
  flex-direction: column;
  background-color: var(--respawn-blue);
}

.menu-link {
  padding: 1rem 1.5rem;
  color: powderblue;
  text-decoration: none;
}

#navbar-logo {
  margin-right: auto;
}

#nav-image {
  position: absolute;
  left: 0;
  height: 100%;
  opacity: 85%;
}

#nav-image:hover{
  opacity: 100%;
}

#navbar-hamburger {
  top: 0;
  right: 0;
  padding: 2vh 1rem;
  display: block;
  cursor: pointer;
  border: none;
}

#sign-out {
  background-color: #4e1010;
  color: #d42323;
}

#sign-out:hover {
  background-color: #d42323;
  color: white;
}

@media screen and (min-aspect-ratio: 1/1) {  
  .dropdown:hover .dropdown-content {
    display: block;
  }
}