body{
    padding: none;
    background: fixed;
    background-image: 
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,.5)
    ),
    url(https://pbs.twimg.com/media/FOJ6ed4VUAAeQAb?format=jpg&name=large);
}

#container1 {
    background-color: transparent;
}
#container2 {
    background-color: var(--respawn-dark-blue);

}
.smaller-text{
    font-size: 25px;
    font-family:'roboto-sans';
    color: white;
    text-align:center;
    display:block;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}
.larger-text{
    font-size: 2.5vw;
    padding-top: 6.5vw;
    font-family: 'roboto-sans';
    color: white;
    text-align:center;
    display: block;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.sponsors-section {
    display: table;
    min-width: 100%;
    min-height: 20vw;
    max-width:100%;
    max-height: 20vw;
}
.why-sponsor{
    font-size: 2.5vw;
    font-family: 'roboto-sans';
    color: white;
    text-align:center;
    display: block;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}