#sponsors-body{
    padding-top: 10vh;
    background: fixed;
    background-image: 
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,.5)
    ),
    url("./media/background.jpg");
    background-size: cover;
    background-position: 50% 70%;
}

.smaller-text{
    font-size: 1.25rem;
    font-family:'roboto-slab';
    color: white;
    text-align: center;
    width: min(25em, 90%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.title-text {
    font-size: 2rem;
    font-family: 'roboto-slab-bold';
    margin: 5rem 0;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.sponsors-section {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsors-logos {
    background-color: var(--respawn-dark-blue);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 35vh;
}

.logo {
    flex-basis: auto;
    max-height: 35%;
    max-width: 85%;
}

#why-sponsor-section {
    background-color: var(--respawn-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1em 0;
}

#why-sponsor{
    font-size: 2.5rem;
    font-family: 'roboto-slab-bold';
    color: white;
    text-align:center;
    display: block;
    padding: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

