#users-container {
    display: flex;
    flex-direction: column;
}

#user-headings {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 2fr 2fr 2fr;
}

#user-headings > h1 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: "roboto-slab-extrabold";
}

.no-data-message {
    text-align: center;
    font-size: 3em;
    color: white;
}