.input-container {
    display: flex;
}

.form-input {
    background-color: var(--respawn-blue);
    color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.form-label {
    color: white
}