body{
    background: var(--respawn-dark-blue);
    background-image: none; 
}
.our-mission-container {
    display: flex;
}

.our-mission {
    font-family: "roboto-sans";
    color: white;
    padding: 5vw;
}