:root {
  --respawn-dark-blue: #1e2837;
  --respawn-blue: #2f6074;
  --respawn-orange: #e96824;
}

@font-face {
  font-family: "roboto-slab";
  src: url("./media/fonts/roboto-slab/roboto-slab-regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-slab-bold";
  src: url("./media/fonts/roboto-slab/roboto-slab-bold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-slab-extrabold";
  src: url("./media/fonts/roboto-slab/roboto-slab-extrabold.ttf") format("truetype");
}

@font-face {
  font-family: "bank-gothic";
  src: url("./media/fonts/bank-gothic/bank-gothic-medium.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-size: 1vw;
}

body {
  position: relative;
  background-color: var(--respawn-dark-blue);
  min-height: 99vh;
  margin: 0;
  padding-bottom: 20vh;
}

@media screen and (max-aspect-ratio: 1/1) {
  * {
    font-size: 2vh;
  }

  body {
    padding-bottom: 35vh;
  }
}



