.what-we-do {
    display: inline-grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 4rem 15rem 15rem 1rem;
}

.what-we-do-heading {
    grid-column: 1 / span 3;
    border-radius: 1rem 1rem 0 0;
    color: white;
    font-size: 2rem;
    background-color: var(--respawn-blue);
    margin: 0;
    font-family: 'roboto-slab-bold';
}

.what-we-do-square:nth-child(5) {
    border-radius: 0 0 0 1rem;
}

.what-we-do-square:nth-child(7) {
    border-radius: 0 0 1rem 0;
}

.what-we-do-square {
    background-color: var(--respawn-blue);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.what-we-do-square:hover .square-text {
    display: block;
} 

.what-we-do-square:hover .square-image {
    height: 30%;
}

.square-image {
    height: 80%;
    transition: .25s;
}

.square-heading {
    font-family: 'roboto-slab-bold';
    color: white;
    margin: 0px;
}

.square-text {
    display: none;
    height: 60%;
    font-family: 'roboto-slab';
    padding: 0% 10%;
    color: white;
    overflow: hidden;
    transition: .25s;
}